<template>
    <div class="w-56 text-center rounded shadow-md">
        <img :src="poster" placeholder="Photo de profil" class="w-full" />
        <h3 class="font-semibold text-lg">{{ name }}</h3>
        <p class="mb-4">{{ character }}</p>
    </div>
</template>

<script setup>
    const props = defineProps(["name", 'character', "poster"]);
</script>

<style lang="scss" scoped></style>