<template>
    <div>
        <NuxtLink :to="`/movies/${movie.id}`"> 
            <img :src="poster(movie)" class="block m-auto rounded-t-lg w-52 h-80 mb-2"/>
                <div class="m-2">
                    <h2 class="font-bold text-lg text-center p-1 h-16 line-clamp-2">{{ movie.title }}</h2>
                    <div class="flex justify-between">
                        <p> {{ movie.release_date }}</p>
                        <rating :vote="movie.vote_average"></rating>
                    </div>
                </div>
        </NuxtLink>
    </div>
</template>

<script setup>
    const props = defineProps(['movie']);     
    
    function poster(movie) {
        return 'https://image.tmdb.org/t/p/w185' + movie.poster_path;
    };
</script>

<style scoped>

</style>