<template>
    <div class="flex flex-wrap justify-around">
        <movie-card 
            v-for="movie in movies"     
            class="w-52 m-12 rounded-lg bg-zinc-100 shadow-xl scale-100 hover:scale-125 ease-in duration-200"
            :movie="movie" 
        />
    </div>
</template>

<script setup>
    const props = defineProps(['movies']);
</script>
