<template>
    <div>
        <p class="rating inline-block" :class="ratingClass()"> {{ vote }} </p>
    </div>
</template>

<script setup>
    const props = defineProps(['vote']);
    const { vote }= toRefs(props); 

    function ratingClass() {
        if (vote.value < 3) {
            return "rating-red";
        } else if (vote.value >= 7) {
            return "rating-green";
        } else {
            return "rating-yellow";
        }
    }
</script>

<style scoped>
    .rating {
        padding: 0 10px;
        border-radius: 15px;
    }

    .rating-green {
        color: rgb(21, 128, 61);
        background-color: rgb(240, 253, 244);
        border: solid 1px rgb(21, 128, 61);
    }

    .rating-yellow {
        color: rgb(133, 77, 14);
        background-color: rgb(254, 252, 232);
        border: solid 1px rgb(133, 77, 14);
    }

    .rating-red {
        color: rgb(185, 28, 28);
        background-color: rgb(254, 242, 242);
        border: solid 1px rgb(185, 28, 28);
    }
</style>