<template>
    <div>
        <label class="relative block w-6/12 m-auto my-10">
            <span class="sr-only">Search</span>
            <span class="absolute inset-y-0 left-0 flex items-center pl-6">
                <svg class="h-7 w-7 fill-slate-300" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </span>
            <input class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border-none rounded-md py-5 pl-20 pr5 shadow-xl focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 text-2xl" 
                placeholder="Cherchez un film" type="text" name="search" v-model="search" @keyup.enter="doSearch"/>
        </label>
    </div>
</template>

<script setup>
    const emit = defineEmits(['searchMovie'])

    const search = ref('');

    function doSearch() {
        emit('searchMovie', search.value);
    }
</script>
