<template>
    <div>
        <div :class="backdrop" class="h-full bg-no-repeat bg-right">
            <div class="filter flex p-10 ">
                <div class="mx-10  basis-1/6">
                    <img :src="poster" class="rounded-lg" />
                </div>
                <div class="text-white text-lg basis-5/6">
                    <h1 class="font-bold text-4xl"> {{ movie.title }}</h1>
                    <p><span>{{ movie.release_date }}</span> / <span>{{ movie.runtime }} min</span></p>
                    <rating :vote="movie.vote_average" class="mt-4" />
                    <p class="italic text-gray-400 mt-12">{{ movie.tagline }}</p>
                    <h2 class="font-bold text-xl my-4">Synopsis</h2>
                    <p>{{ movie.overview }}</p>
                </div>
            </div>
        </div>
        <div class="m-6">
            <h1 class="font-bold text-4xl">Distribution</h1>
            <div class="flex flex-nowrap">
                <actor-card class="m-6" v-for="credit in credits" :key="credit.id" :name="credit.name"
                    :character="credit.character" :poster="profile(credit)" />
            </div>
        </div>
    </div>
</template>

<script setup>
const { id } = useRoute().params;
const { data: movie } = await useFetch(`https://api.themoviedb.org/3/movie/${id}?language=fr-FR&api_key=85e33e7db3877d82cb0d88e1e190d550`);
const { data: credits } = await useFetch(`https://api.themoviedb.org/3/movie/${id}/credits?language=fr-FR&api_key=85e33e7db3877d82cb0d88e1e190d550`, {
    transform: (_credits) => _credits.cast.slice(0, 10)
});

const backdrop = computed(() => {
    return "bg-[url('https://image.tmdb.org/t/p/w1280" + movie.value.backdrop_path + "')]";
});
const poster = computed(() => {
    return 'https://image.tmdb.org/t/p/w342' + movie.value.poster_path;
});
function profile(credit) {
    return 'https://image.tmdb.org/t/p/w185' + credit.profile_path;
};

</script>

<style scoped>
.filter {
    background-image: linear-gradient(to right, rgba(73.5, 94.5, 94.5, 1) calc((50vw - 170px) - 340px), rgba(73.5, 94.5, 94.5, 0.84) 50%, rgba(73.5, 94.5, 94.5, 0.84) 100%);
    height: inherit;
}
</style>