<template>
    <div>
        <search @searchMovie="searchMovie"></search>
        <movies :movies="movielist"></movies>
    </div>
</template>

<script setup>
const movielist = ref([]);

const searchMovie = async (search) => {
    const { data: movies } = await useFetch(`/api/searchMovie?search=${search}`, {
        transform: (_movies) => _movies.results,
    });
    movielist.value = movies.value;
}
</script>
